.textfield
{
  width:50rem;
}
#lbl
{
  display: block;
}
.radio-button
{
  margin-left: 1%;
}
.container
{
  border: 2px solid #ef4552;
  padding: 18px;
  margin-top: 2rem;
}
.inpt
{
  width: 14.5rem;
}
.text{
font-weight: 500;
margin-top: 1rem;
margin-bottom: 1rem;
}
.gender
{
  font-size: 11px;
  margin-left: 0.5rem;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}