.textfield
{
  width:50rem;
}
#lbl
{
  display: block;
}
.radio-button
{
  margin-left: 1%;
}
.container
{
  background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    transform: translate(9%, 19%);
    padding: 64px;
  margin-top: 2rem;
}

.nav-tabs{
  margin-top: 3%;
  border: none;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.click
{
  background: #0062cc;
  color: white;
}
.click1
{
  background: #0062cc;
}
.inpt
{
  width: 14.5rem;
}
.text{
font-weight: 500;
margin-top: 1rem;
margin-bottom: 1rem;
}
.gender
{
  font-size: 11px;
  margin-left: 0.5rem;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}