.textfield
{
  width:50rem;
}
#lbl
{
  display: block;
}
.radio-button
{
  margin-left: 1%;
}
.container
{
  background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    transform: translate(9%, 28%);
  margin-top: 2rem;
  height: 32rem;
}
.inpt
{
  width: 14.5rem;
}
.text{
font-weight: 500;
margin-top: 1rem;
margin-bottom: 1rem;
}
.err
{
  font-size: 10px;
  color: red;
}