
  <div class="container">
    <h1>Personal Details</h1>
      <form [formGroup]="studentInfo" (ngSubmit)="goToAddress()">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="inpt" appearance="standard">
              <mat-label>Enter First Name</mat-label>
              <input matInput formControlName="fname" [ngClass]="{ 'is-invalid': isvalid && f.fname.errors }">
              <mat-error *ngIf="isvalid && f.fname.errors">
                <div *ngIf="f.fname.errors.required">First name is required</div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="inpt" appearance="standard">
              <mat-label>Enter Middle Name</mat-label>
              <input matInput formControlName="mname" [ngClass]="{ 'is-invalid': isvalid && f.mname.errors }">
              <mat-error *ngIf="isvalid && f.mname.errors">
                <div *ngIf="f.mname.errors.required">Middle name is required</div>
              </mat-error>
            </mat-form-field>
          </div>
       
          <div class="col-md-4">
            <mat-form-field class="inpt" appearance="standard">
              <mat-label>Enter Last Name</mat-label>
              <input matInput formControlName="lname" [ngClass]="{ 'is-invalid': isvalid && f.lname.errors }">
              <mat-error *ngIf="isvalid && f.lname.errors">
                <div *ngIf="f.lname.errors.required">Last name is required</div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color="accent" appearance="standard">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="inpt" appearance="standard">
              <mat-label>Enter Age</mat-label>
              <input matInput formControlName="age">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="inpt" appearance="standard">
              <mat-label>Enter Mobile </mat-label>
              <input matInput formControlName="mobile">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="inpt" appearance="standard">
              <mat-label>Enter Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <label id="lbl">Gender</label>
            <mat-radio-group aria-label="Gender" class="radio-grp" formControlName="gender" [ngClass]="{ 'is-invalid': isvalid && f.gender.errors }">
              <mat-radio-button value="Male" class="radio-button">Male</mat-radio-button>
              <mat-radio-button value="Female" class="radio-button">Female</mat-radio-button>
              <mat-radio-button value="Other" class="radio-button">Other</mat-radio-button>
              <mat-error *ngIf="isvalid && f.gender.errors">
                <div class="gender" *ngIf="f.gender.errors.required">Gender is required</div>
              </mat-error>
            </mat-radio-group>
          </div>
          <div class="col-md-12">
            <button type="submit" mat-raised-button color="primary">Next</button>
          </div>
        </div>
      </form>
    </div>