.textfield
{
  width:50rem;
}
#lbl
{
  display: block;
}
.radio-button
{
  margin-left: 1%;
}
.container
{
  background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    transform: translate(9%, 37%);
    padding: 64px;
  margin-top: 2rem;
}
.inpt
{
  width: 14.5rem;
}
.text{
font-weight: 500;
margin-top: 1rem;
margin-bottom: 1rem;
}
.gender
{
  font-size: 11px;
  margin-left: 0.5rem;
}